* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

main {
    width: 100%;
    height: 100%;
}

header {
    padding: 0.5rem;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    width: 100%;
    padding: 1rem 0rem;
    align-items: center;
    justify-content: space-around;
}

.logo {
    text-align: right;
    /* background-color: red; */
    font-size: 1rem;
    width: 20%;
    display: inline;
}

.nav-links {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    /* padding: 0rem 4rem 0rem 0rem; */

}

.nav-links a {
    text-decoration: none;
    padding: 0.4rem 0rem 0rem 1rem;
    font-size: 1rem;
    color: black;
}
.image-1{
    width: 100%;
    display: flex;
justify-content: center;
}
.image-1 img{
    object-fit: cover;
    width: 85%;
    object-position: center;
    height: 34rem;
}
.collection{
    display: flex;
    justify-content: center;
}
.collection h1{
    font-size: 2.5rem;
    font-weight: bolder;
    padding: 0.5rem 0rem 0 0;
}
.collectionimages{
    display: flex;
    padding: 1rem 0 0 0;
}
.collectionimages img{
    width: 20%;
    object-fit: cover;
}